Repository jv-kune-kune/PiglioTech-FrontEnd, pull requests merged in 2025-01, with the labels that each got.

#8 Early project structure, UI/UX and Firebase auth spike
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/northcoders/pigliotech_frontend/MainActivity.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/addbook/AddBookFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/landingpage/LandingPageFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/login/LoginFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/mainactivity/MainActivity.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/mainactivity/MainActivityViewModel.java
  app/src/main/res/drawable/ic_add_book.xml
  app/src/main/res/drawable/ic_home.xml
  app/src/main/res/drawable/ic_profile.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_add_book.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_landing_page.xml
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/fragment_sign_up.xml
  app/src/main/res/menu/bottom_nav_menu.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/network_security_config.xml
  build.gradle
  gradle/libs.versions.toml
Labels: 🏷️ authentication 🔐, 🏷️ dependencies 🧩, 🏷️ ui/ux 🖼️, 👥 frontend 🎨, 🚩 spike 🔬

#11 Create sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: 👥 project management 📋

#12 Viewmodel
  .DS_Store
  app/.DS_Store
  app/build.gradle
  app/src/.DS_Store
  app/src/androidTest/.DS_Store
  app/src/main/.DS_Store
  app/src/main/java/com/northcoders/pigliotech_frontend/model/Book.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/Isbn.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/User.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/AuthRepository.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/FirebaseInstance.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/RetrofitInstance.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserApiService.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserRepository.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/addbook/AddBookEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/addbook/AddBookFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/addbook/AddBookState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/addbook/AddBookViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/landingpage/LandingPageFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/login/LoginEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/login/LoginFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/login/LoginState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/login/LoginViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/mainactivity/MainActivity.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/mainactivity/MainActivityEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/mainactivity/MainActivityViewModel.java
  app/src/main/res/.DS_Store
  app/src/main/res/drawable/.DS_Store
  app/src/main/res/drawable/blank_book.jpg
  app/src/main/res/drawable/blank_pfp.webp
  app/src/main/res/drawable/border_image.xml
  app/src/main/res/drawable/edit_text_background.xml
  app/src/main/res/drawable/home_background.png
  app/src/main/res/drawable/landing_background.png
  app/src/main/res/font/lin_libertine_r.ttf
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/book_view.xml
  app/src/main/res/layout/fragment_add_book.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_landing_page.xml
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/fragment_sign_up.xml
  app/src/main/res/layout/library_view.xml
  gradle/libs.versions.toml
Labels: 👥 frontend 🎨

#15 build: upgrade from Java 11 to Java 17
  app/build.gradle
Labels: 👥 frontend 🎨

#16 UI Design
  app/src/main/res/layout/book_view.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/library_view.xml
Labels: 🏷️ ui/ux 🖼️, 👥 frontend 🎨

#17 Profile recycler view
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/UserAdapter.java
  app/src/main/res/layout/book_item.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/values/strings.xml
Labels: 🏷️ ui/ux 🖼️, 👥 frontend 🎨

#20 Home recycler view
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/LibraryAdapter.java
  app/src/main/res/layout/fragment_add_book.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/library_view.xml
Labels: 👥 frontend 🎨

#21 Sign up Spinner and Enum Class Implemenation
  app/src/main/java/com/northcoders/pigliotech_frontend/model/Region.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpViewModel.java
  app/src/main/res/layout/fragment_sign_up.xml
  app/src/main/res/layout/spinner_dropdown_item.xml
  app/src/main/res/layout/spinner_item.xml
  app/src/main/res/values/strings.xml
Labels: 👥 frontend 🎨

#23 Get users
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserApiService.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserRepository.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpViewModel.java
Labels: 🏷️ api 🔗, 👥 frontend 🎨

#25 Home click
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/LibraryAdapter.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/UserAdapter.java
  app/src/main/res/layout/library_view.xml
Labels: 🏷️ api 🔗, 👥 frontend 🎨

#30 Add books
  app/src/main/java/com/northcoders/pigliotech_frontend/model/Isbn.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserApiService.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserRepository.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/addbook/AddBookEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/addbook/AddBookFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/addbook/AddBookViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileViewModel.java
  app/src/main/res/layout/fragment_add_book.xml
Labels: 🏷️ api 🔗, 👥 frontend 🎨

#31 Swap page
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/LibraryAdapter.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapAdapter.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/mainactivity/MainActivity.java
  app/src/main/res/drawable/ic_accept.xml
  app/src/main/res/drawable/ic_decline.xml
  app/src/main/res/drawable/ic_swap.xml
  app/src/main/res/drawable/swap_accept_button.xml
  app/src/main/res/drawable/swap_decline_button.xml
  app/src/main/res/layout/fragment_swap.xml
  app/src/main/res/layout/swap_item.xml
  app/src/main/res/menu/bottom_nav_menu.xml
  app/src/main/res/values/strings.xml
Labels: 🏷️ api 🔗, 👥 frontend 🎨

#34 fix: Correction to formatting book count on homepage
  app/src/main/java/com/northcoders/pigliotech_frontend/model/User.java
  app/src/main/res/layout/library_view.xml
Labels: 🏷️ ui/ux 🖼️, 👥 frontend 🎨

#35 feature Delete book
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserApiService.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserRepository.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/UserAdapter.java
  app/src/main/res/layout/book_item.xml
Labels: 🏷️ ui/ux 🖼️, 👥 frontend 🎨

#37 style: Formatting
  app/src/main/res/layout/fragment_add_book.xml
  app/src/main/res/layout/library_view.xml
  app/src/main/res/layout/swap_item.xml
Labels: 🏷️ ui/ux 🖼️, 👥 frontend 🎨

#39 feat: Like book
  app/src/main/java/com/northcoders/pigliotech_frontend/model/Match.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/MatchUi.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/SwapDismissal.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/SwapRequest.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserApiService.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserRepository.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/UserAdapter.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapAdapter.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapEvents.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapState.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapViewModel.java
  app/src/main/res/drawable/swap_accept_button.xml
  app/src/main/res/layout/book_item.xml
  app/src/main/res/layout/swap_item.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/themes.xml
Labels: 👥 frontend 🎨

#41 refactor: Nice to haves
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/RetrofitInstance.java
  app/src/main/java/com/northcoders/pigliotech_frontend/model/service/UserRepository.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/home/HomeFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/landingpage/LandingPageFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/login/LoginFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileViewModel.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/swapbook/SwapFragment.java
Labels: 👥 frontend 🎨

#47 fix: Context activity bug
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/login/LoginFragment.java
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/signup/SignUpFragment.java
Labels: 👥 frontend 🎨

#48 fix: UI adjustments
  app/src/main/res/layout/book_item.xml
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/layout/fragment_sign_up.xml
  app/src/main/res/layout/library_view.xml
  app/src/main/res/layout/swap_item.xml
Labels: 🏷️ ui/ux 🖼️

#50 feat: Library profile picture
  app/src/main/java/com/northcoders/pigliotech_frontend/ui/fragments/profile/ProfileFragment.java
Labels: 🏷️ ui/ux 🖼️, 👥 frontend 🎨
